{% extends "base.html" %}
{% block content %}
<div id = "quiz-container">
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

    <div class="canvas-container">
        <div class = "box">
          <div align="center">
              <h1 class="word">quiz</h1>

             <br>
    <div>
      <canvas id="canvas" width="200" height="200"></canvas>
    </div>
    <div style="padding: 1rem;">
      {% if correct %}
        {% if correct == 'yes' %}
        <p style="font-size: 0.75rem;">correct! next question:</p>
        {% else %}
          <p style="font-size: 0.75rem;">incorrect! next question:</p>
        {% endif %}
      {% endif %}
      <p style="margin-top: 0.5rem;">write an uppercase letter "{{letter.lower()}}"</p>
    </div>
    <div>
      <form id="quiz-form" action="attempt-quiz" method="POST">
        <input id="pixels" name="pixels" type="hidden" />
        <input id="letter" name="letter" type="hidden" value="{{letter}}" />
        <button type="button" class="btn" onclick="quizAction()">check my answer</button>
        <button type="button" class="btn" onclick="resetCanvas()">clear</button>
      </form>
          <br>
    <div align = "centre">
       <a href="/" class="button is-primary is-outlined">&lt;return to main menu</a>
    </div> <br>
    </div>
    </div>

          </div>
        </div>
    </div>
</div>

  <script>
    $(document).ready(function() {
      startCanvas()
    })
  </script>

{% endblock %}