{% extends "base.html" %}
{% block content %}

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

  <div align = "right">
          <a href="{{ url_for('logout') }}" class="word">Logout</a>
  </div>
      <div align="center">
               <div align="center" class="canvasborder">
                    <h1 class="word">hi {{session.username}}!<br> welcome to baby steps! </h1>

                 <br>
    <div>
          <a class="btn" href="/practice">practice</a>
           <p class = "word"> practice writing the alphabet</p> <br> <br>

          <a class="btn" href="/add-data">add data</a>
           <p class = "word" > improve the model by adding data</p> <br> <br>

         <a class = "btn" href="/watch-tutorial">watch tutorial</a>
         <p class = "word" > learn how to write uppercase alphabets </p> <br> <br>

        <a class = "btn" href="/attempt-quiz">attempt quiz</a>
        <p class = "word" > take a quiz to see how much you know </p>

    </div>
               </div>
      </div>


{% endblock %}