<!DOCTYPE html>
<html lang="en">
 <head>
        <meta charset="UTF-8">
        <title> Tutorial </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body><br><br><br><br><br>
        <div align="center">
          <div align="center" class="border">
             <div class="header">
                <h1 class="word">Score</h1>
             </div><br>
            <h2 class="word">
                  <div class="msg">{{ msg }}</div>
            </h2>
            <p class="bottom">Back to main?  <a class="bottom" href="{{url_for('index')}}"> Back</a></p>
          </div>
        </div>
    </body>
</html>
