{% extends "base.html" %}

{% block content %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Score</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        </head>
    <body>
        <section class="section">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-two-thirds">
                        <div class="box">
                            <div class="has-text-centered">
                                <h1 class="title">Score</h1>
                            </div>
                            <div class="has-text-centered">
                                <h2 class="subtitle">{{ msg }}</h2>
                            </div>
                            <br>
                            <div class="buttons is-centered">
                                <div class="field is-grouped is-grouped-multiline">
                                    <div class="control">
                                        <a href="/" class="button is-primary is-outlined">&lt;return to main menu</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
{% endblock %}
