<!DOCTYPE html>
<html lang="en">
 <head>
        <meta charset="UTF-8">
        <title> Tutorial </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <br><br><br><br><br>
        <div align="center">
          <div align="center" class="border">
             <div class="header">
                <h1 class="word">Tutorial</h1>
             </div><br>
            <body>
                <a href = "{{url_for('videoA')}}"> A </a>
                <a href = "{{url_for('videoB')}}"> B </a>
                <a href = "{{url_for('videoC')}}"> C </a>
                <a href = "{{url_for('videoD')}}"> D </a>
                <a href = "{{url_for('videoE')}}"> E </a>
                <a href = "{{url_for('videoF')}}"> F </a>
                <a href = "{{url_for('videoG')}}"> G </a>
                <a href = "{{url_for('videoH')}}"> H </a>
                <a href = "{{url_for('videoI')}}"> I </a>
                <a href = "{{url_for('videoJ')}}"> J </a>
                <a href = "{{url_for('videoK')}}"> K </a>
                <a href = "{{url_for('videoL')}}"> L </a>
                <a href = "{{url_for('videoM')}}"> M </a>
                <a href = "{{url_for('videoN')}}"> N </a>
                <a href = "{{url_for('videoO')}}"> O </a>
                <a href = "{{url_for('videoP')}}"> P </a>
                <a href = "{{url_for('videoQ')}}"> Q </a>
                <a href = "{{url_for('videoR')}}"> R </a>
                <a href = "{{url_for('videoS')}}"> S </a>
                <a href = "{{url_for('videoT')}}"> T </a>
                <a href = "{{url_for('videoU')}}"> U </a>
                <a href = "{{url_for('videoV')}}"> V </a>
                <a href = "{{url_for('videoW')}}"> W </a>
                <a href = "{{url_for('videoX')}}"> X </a>
                <a href = "{{url_for('videoY')}}"> Y </a>
                <a href = "{{url_for('videoZ')}}"> Z </a>
            </body>

            <p class="bottom">Back to main?  <a class="bottom" href="{{url_for('index')}}"> Back</a></p>
          </div>
        </div>

</html>